mixin card({ image, title, price, salePrice, isOutOfStock, tag} = {})
  -
    const cardTag = tag ? tag : 'div'

  #{cardTag}.card(class=(isOutOfStock ? 'card--disabled' : ''))
    .card-body
      //- =============================================================================
      //- ##CARD LINK
      //- =============================================================================
      a.card-link(href="/product.html") 

      //- =============================================================================
      //- ##CARD MEDIA
      //- =============================================================================
      .card-media
        if (salePrice)
          .card-sale Sale
        img.card-img(src=image)
      
      //- =============================================================================
      //- ##CARD TITLE
      //- =============================================================================
      h2.card-title #{title}

      //- =============================================================================
      //- ##CARD RATING
      //- =============================================================================
      .card-rating
      
      //- =============================================================================
      //- ##CARD PRICE
      //- =============================================================================
      if (isOutOfStock)
        .card-price Нет в наличии
      else
        .card-price 
          if (salePrice)
            del #{salePrice} ₽
          ins #{price} ₽

    //- =============================================================================
    //- ##CARD FOOTER
    //- =============================================================================
    footer.card-footer
      if (isOutOfStock)
        a.btn.btn--secondary.w-full.px-6.py-4(href="#") Подробнее
      else
        a.btn.btn--primary.w-full.px-6.py-4(href="#") В корзину
