extends layout/default

include mixin/breadcrumbs

block vars
  -
    locals.page = {
      language: 'ru',
      name: 'brands',
      title: 'Бренды • Bestshave.ru',
      description: 'Page description'
    }


block main
  
  #content.site-content.wrapper.pt-6.pb-20
    +breadcrumbs({ items: ['Бренды', 'Proraso'], classname: 'mb-6' })

    main#main.site-main
      article#post-206.post-206.page.type-page.status-publish.hentry
        header.entry-header.mb-10
          h1.entry-title.heading-page.font-black Бренды
        .entry-content
          .widget.widget_berocket_alphabet_brand_widget
            .berocket_brand_list

              .berocket_brand_name_letters.vertical
                a(data-href="#all" class="button") Все
                a(data-href="#berocket_letter_block_br_brands_cache__206_2_0" class="button") C
                a(data-href="#berocket_letter_block_br_brands_cache__206_2_1" class="button") F
                a(data-href="#berocket_letter_block_br_brands_cache__206_2_2" class="button") L
                a(data-href="#berocket_letter_block_br_brands_cache__206_2_3" class="button") M
                a(data-href="#berocket_letter_block_br_brands_cache__206_2_4" class="button") O
                a(data-href="#berocket_letter_block_br_brands_cache__206_2_5" class="button") P
                a(data-href="#berocket_letter_block_br_brands_cache__206_2_6" class="button") R
                a(data-href="#berocket_letter_block_br_brands_cache__206_2_7" class="button") S
                a(data-href="#berocket_letter_block_br_brands_cache__206_2_8" class="button") T

              .berocket_letter_blocks.berocket_letter_block_br_brands_cache__206_2
                .br_brand_letter_block.vertical
                  h3 C
                  .br_brand_letter_element.vertical
                    a(href="http://localhost/brand/cella/")
                      img(
                        src="img/uploads/cella-milano.png"
                        class="align_above"
                        alt="Cella"
                        style="width:132px; height:132px; object-fit:cover;"
                      )
                      span.br_brand_name
                        | Cella 
                        span.br_brand_count (0)

                .br_brand_letter_block.vertical
                  h3 F
                  .br_brand_letter_element.vertical
                    a(href="http://localhost/brand/fatip/")
                      img(
                        src="img/uploads/fatip.png"
                        class="align_above"
                        alt="Fatip"
                        style="width:132px; height:132px; object-fit:cover;"
                      )
                      span.br_brand_name
                        | Fatip
                        span.br_brand_count (2)

                  .br_brand_letter_element.vertical
                    a(href="http://localhost/brand/floid/")
                      img(
                        src="img/uploads/floid.png"
                        class="align_above"
                        alt="Floid"
                        style="width:132px; height:132px; object-fit:cover;"
                      )
                      span.br_brand_name
                        | Floid
                        span.br_brand_count (0)

                .br_brand_letter_block.vertical
                  h3 L
                  .br_brand_letter_element.vertical
                    a(href="http://localhost/brand/lea/")
                      img(
                        src="img/uploads/lea.png"
                        class="align_above"
                        alt="Lea"
                        style="width:132px; height:132px; object-fit:cover;"
                      )
                      span.br_brand_name
                        | Lea
                        span.br_brand_count (0)

                .br_brand_letter_block.vertical
                  h3 M
                  .br_brand_letter_element.vertical
                    a(href="http://localhost/brand/martin-de-candre/")
                      img(
                        src="img/uploads/martin-de-candre.png"
                        class="align_above"
                        alt="Martin de Candre"
                        style="width:132px; height:132px; object-fit:cover;"
                      )
                      span.br_brand_name
                        | Martin de Candre
                        span.br_brand_count (0)

                  .br_brand_letter_element.vertical
                    a(href="http://localhost/brand/merkur/")
                      img(
                        src="img/uploads/merkur.png"
                        class="align_above"
                        alt="Merkur"
                        style="width:132px; height:132px; object-fit:cover;"
                      )
                      span.br_brand_name
                        | Merkur
                        span.br_brand_count (0)

                  .br_brand_letter_element.vertical
                    a(href="http://localhost/brand/muhle/")
                      img(
                        src="img/uploads/muhle.png"
                        class="align_above"
                        alt="Muhle"
                        style="width:132px; height:132px; object-fit:cover;"
                      )
                      span.br_brand_name
                        | Muhle
                        span.br_brand_count (0)

                .br_brand_letter_block.vertical
                  h3 O                
                  .br_brand_letter_element.vertical
                    a(href="http://localhost/brand/omega/")
                      img(
                        src="img/uploads/omega.png"
                        class="align_above"
                        alt="Omega"
                        style="width:132px; height:132px; object-fit:cover;"
                      )
                      span.br_brand_name
                        | Omega
                        span.br_brand_count (0)

                  .br_brand_letter_element.vertical
                    a(href="http://localhost/brand/osma/")
                      img(
                        src="img/uploads/osma.png"
                        class="align_above"
                        alt="Osma"
                        style="width:132px; height:132px; object-fit:cover;"
                      )
                      span.br_brand_name
                        | Osma
                        span.br_brand_count (0)

                .br_brand_letter_block.vertical
                  h3 P
                  .br_brand_letter_element.vertical
                    a(href="http://localhost/brand/phoenix-artisan-accoutrements/")
                      img(
                        src="img/uploads/phoenix-artisan.png"
                        class="align_above"
                        alt="Phoenix Artisan Accoutrements"
                        style="width:132px; height:132px; object-fit:cover;"
                      )
                      span.br_brand_name
                        | Phoenix Artisan Accoutrements
                        span.br_brand_count (0)

                  .br_brand_letter_element.vertical
                    a(href="http://localhost/brand/proraso/")
                      img(
                        src="img/uploads/proraso.png"
                        class="align_above"
                        alt="Proraso"
                        style="width:132px; height:132px; object-fit:cover;"
                      )
                      span.br_brand_name
                        | Proraso
                        span.br_brand_count (0)

                .br_brand_letter_block.vertical
                  h3 R
                  .br_brand_letter_element.vertical
                    a(href="http://localhost/brand/razorock/")
                      img(
                        src="img/uploads/razorock.png"
                        class="align_above"
                        alt="RazoRock"
                        style="width:132px; height:132px; object-fit:cover;"
                      )
                      span.br_brand_name
                        | RazoRock
                        span.br_brand_count (0)

                .br_brand_letter_block.vertical
                  h3 S
                  .br_brand_letter_element.vertical
                    a(href="http://localhost/brand/stirling/")
                      img(
                        src="img/uploads/stirling.png"
                        class="align_above"
                        alt="Stirling"
                        style="width:132px; height:132px; object-fit:cover;"
                      )
                      span.br_brand_name
                        | Stirling
                        span.br_brand_count (0)

                .br_brand_letter_block.vertical
                  h3 T
                  .br_brand_letter_element.vertical
                    a(href="http://localhost/brand/tabac/")
                      img(
                        src="img/uploads/tabac-original.png"
                        class="align_above"
                        alt="Tabac"
                        style="width:132px; height:132px; object-fit:cover;"
                      )
                      span.br_brand_name
                        | Tabac
                        span.br_brand_count (0)

                  .br_brand_letter_element.vertical
                    a(href="http://localhost/brand/taylor-of-old-bond-street/")
                      img(
                        src="img/uploads/taylor-of-old-bond-street.png"
                        class="align_above"
                        alt="Taylor Of Old Bond Street"
                        style="width:132px; height:132px; object-fit:cover;"
                      )
                      span.br_brand_name
                        | Taylor Of Old Bond Street
                        span.br_brand_count (0)

                  .br_brand_letter_element.vertical
                    a(href="http://localhost/brand/truefitthill/")
                      img(
                        src="img/uploads/truefitt-and-hill-logo.png"
                        class="align_above"
                        alt="Truefitt&amp;Hill"
                        style="width:132px; height:132px; object-fit:cover;"
                      )
                      span.br_brand_name
                        | Truefitt&amp;Hill
                        span.br_brand_count (0)
                        